*{
    transition: all .3s;
}
body{
    position: relative;
}
@font-face{
    font-family: "Roboto Light";
    src: url(Roboto-Light.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Regular";
    src: url(TitilliumWeb-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Italic Regular";
    src: url(TitilliumWeb-ExtraLightItalic.ttf) format("truetype");
}
body{
    transition: all .3s;
}
.preloader {
    transition: all .3s;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url("../images/preloader.gif") center no-repeat #fbfbfb;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
.w-60{
    width: 60%;
}
/* Margins */
.mlm-40{
    margin-left: -40px;
}
@font-face{
    font-family: "Roboto Light";
    src: url(Roboto-Light.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Regular";
    src: url(TitilliumWeb-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Italic Regular";
    src: url(TitilliumWeb-ExtraLightItalic.ttf) format("truetype");
}
@font-face{
    font-family: "TitilliumWeb Bold";
    src: url(TitilliumWeb-Bold.ttf) format("truetype");
}
h1, h2, h3, h4, h5, h6, p, a {font-family: "TitilliumWeb Regular"; letter-spacing: 0.3px;}
p{
    line-height: 26px;
}
.text-gray{
    color: #666666;
}
/* Components */
/* Button and Links */

@media screen and (max-width: 414px) {
    p {
        font-size: 0.9rem;
        line-height: 1.6;
    }
}
