*{
    transition: all .3s;
}
body{
    position: relative;
}
ul{
    list-style: none;
}
@font-face{
    font-family: "ObjectSans Regular";
    src: url(ObjectSans-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "NeueMachina Regular";
    src: url(NeueMachina-Regular.otf) format("truetype");
}
.font-objects{
    font-family: "ObjectSans Regular";
}
.font-neue{
    font-family: "NeueMachina Regular";
}
body{
    transition: all .3s;
}
.preloader {
    transition: all .3s;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url("../images/preloader.gif") center no-repeat #fbfbfb;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
.w-28{
    width: 28%;
}
.w-30{
    width: 30%;
}
a:hover{
    text-decoration: none;
}
/* Margins */
h1, h2, h3, h4, h5, h6, a {font-family: "NeueMachina Regular"; letter-spacing: 0.3px;}
p, li{
    font-family: "ObjectSans Regular";
    font-size: 0.8rem;
}
.text-gray{
    color: #666666;
}
.text-black{
    color: #000;
}
.text-blue{
    color: #0056C9;
}
.text-green{
    color: #81DE76;
}
.border-blue{
    border: 1px solid #052BFF;      
}
.border-white{
    border: 1px solid #fff;      
}
.bg-light-gray{
    background-color: #eaeaea;
}
.bg-blue{
    background-color: #0056C9;
}
/* Images */
.fluid-100vh{
    object-fit: cover;
    height: 100vh;
}
.fit-contain{
    object-fit: contain;
}
/* Pages */
.banner-top{
    height: 100vh;
    overflow: hidden;
}
.banner-top .banner{
   width: 100vw;
}
.banner-top .bg-banner{
    position: relative;
}
.banner-top .title-banner{
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 7%;
    transform: translateY(-50%);
}
.network .content{
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 25%;
    left: 20%;
    transform: translate(-50% , -50%);
}
.home-isp .wrap{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    height: 70vh;
    background-size: cover;
}
.home-isp .content{
    position: absolute;
    left: 5%;
    top: 37%;
    transform: translateY(-50%);
}
.home-isp .content-bottom{
    position: absolute;
    left: 5%;
    bottom: 0;
    transform: translateY(-50%);
    width: 100%;
    margin: auto;
}
.home-isp .content-bottom .button-pos{
    position: absolute;
    bottom: 39%;
    right: 11%;
}
.home-services .nav-pills .nav-link.active,.home-services .nav-pills .show > .nav-link{
    background-color: #eaeaea;
    color: #000;
    font-weight: bold;
    border-radius: 0;
}
.home-services .nav-pills .nav-link.cservice.active,.home-services .nav-pills .show > .nav-link.cservice, .home-services .nav-pills .nav-link.cservice:hover{
    border-bottom: 5px solid #00A5FF;
}
.home-services .nav-pills .nav-link.ipbase.active,.home-services .nav-pills .show > .nav-link.ipbase, .home-services .nav-pills .nav-link.ipbase:hover{
    border-bottom: 5px solid #0056C9;
}
.home-services .nav-pills .nav-link.managedict.active,.home-services .nav-pills .show > .nav-link.managedict, .home-services .nav-pills .nav-link.managedict:hover{
    border-bottom: 5px solid #00439D;
}
.home-services .nav-pills .nav-link.datactr.active,.home-services .nav-pills .show > .nav-link.datactr, .home-services .nav-pills .nav-link.datactr:hover{
    border-bottom: 5px solid #052BFF;
}
.home-services .nav-pills .nav-link{
    color: #231F20;
}
.home-services .nav-pills .nav-link:hover{
    border-radius: 0;
}
.home-isp .owl-next{
    background-color: #fff !important;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px !important;
    width: 40px;
    height: 40px;
    color: #0056C9 !important;
}
.home-isp .owl-prev{
    background-color: #fff !important;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px !important;
    width: 40px;
    height: 40px;
    color: #0056C9 !important;
}
.the-process{
    background-image: url(../images/bg-the-process.png);
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.points-thumb .thumbs .number{
    width: 156px;
    height: 156px;
    position: relative;  
    margin: auto;
}
.points-thumb .thumbs .number .no, .points-thumb .thumbs .number .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.points-thumb .thumbs .wrap-details{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding-top: 6rem;
    margin-top: -70px;
    padding-bottom: 1.5rem;
    background-image: url(../images/reach_us_wrapper_form.png);
    background-size: cover;
    background-position: center;
}
.home.points-thumb .thumbs .wrap-details{
    background-color: white !important;
    background-image: none !important;
}
.home-testi{
    background-image: url(../images/bg-testi.jpg);
    background-size: cover;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}
.car-testi .item{
    background-image: url(../images/reach_us_wrapper_form.png);
    padding: 40px;
    border-radius: 25px;
    background-size: cover;
}
.car-testi .owl-next{
    background-color: #fff !important;
    border-radius: 100px !important;
    width: 40px;
    height: 40px;
    color: #0056C9 !important;
}
.car-testi .owl-prev{
    background-color: #fff !important;
    border-radius: 100px !important;
    width: 40px;
    height: 40px;
    color: #0056C9 !important;
}
.car-testi .owl-nav{
    position: absolute;
    top: -250px;
    right: 100px;
}
.car-testi .owl-stage{
    left: -200px;
}
.home-promotion{
    background-image: url(../images/home-bg-promotion.jpg);
    background-size: cover;
}
.car-promotion{
    margin-top: 200px;
}
.car-promotion .owl-nav{
    position: absolute;
    right: 5%;
    bottom: 25%;
}
.car-promotion.owl-theme .owl-dots{
    position: absolute;
    bottom: 0;
}
.car-promotion.owl-theme .owl-dots .owl-dot span{
    width: 18vw;
    height: 4px;
    background-color: #c4c4c4;
}
.car-promotion .owl-nav .owl-next, .car-promotion .owl-nav .owl-prev{
    font-size: 30px !important;
}
.car-promotion.owl-theme .owl-dots .owl-dot.active span, .car-promotion.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #fff;
}
.home-contact .wrap{
    -webkit-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.32);
    padding: 70px 50px 10px 60px;
    border-radius: 20px;
}
.footer-netvolve{
    background-color: #231F20;
    padding-top: 100px;
    padding-bottom:  30px;
}
.footer-netvolve .navigation ul{
    list-style: none;
    padding-left: 0;
}
.footer-netvolve .navigation ul li a{
    color: #fff;
    display: inline-block;
    padding-bottom: 15px;
    font-family: "ObjectSans Regular";
}
.footer-netvolve .address-details ul{
    list-style: none;
    padding-left: 0;
}
.footer-netvolve .address-details ul li a, .footer-netvolve .address-details ul li{
    color: #fff;
    padding-bottom: 15px;
}
.footer-netvolve .contact-wrap{
    background-color: #00A5FF;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
.about-about .about-brief{
    background-image: url(../images/about-brief-bg.png);
    background-size: cover;
}
.about-about .people{
    margin-top: -100px;
}
.about-vision .wrap-cards{
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.32);
}
.about-vision .wrap-cards{
    width: 100%;
}
.about-process{
    background-image: url(../images/bg-testi.jpg);
    background-size: cover;
    background-position: top right;
}
.bottom-content{
    background-image: url(../images/lets-evolve.jpg);
    border-radius: 20px;
}
.isp-wwd .thumbs .wrap-items .items{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 20px;
    border-radius: 10px;
}
.nap-ip{
    background-size: cover;
    background-image: url(../images/NAP_ip_transit_background.jpg);
    height: 100vh;
    background-position: left bottom;
}
.nap-gateway{
    background-image: url(../images/NAP_gateaway_background.jpg);
    background-position: left bottom;
    background-size: cover;
}
.jix-bottom{
    background-image: url(../images/bg-jlm-ie.png);
    background-size: cover;
    height: 100vh;
}
.ns-metroe{
    background-size: cover;
    background-image: url(../images/metro-e.jpg);
    height: 100vh;
    background-position: left bottom;
}
.left-image-big{
    background-size: cover;
    height: 100vh;
    background-position: left bottom;
}
.metroecloud .wrap-cards{
    background: #FFFFFF;
    border: 1.2px solid #0056C9;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    border-radius: 20px;
}
.metroecloud .wrap-cards ul{
    list-style-type: disc;
}
.netsat-people{
    margin-top: -100px;
    background-image: url(../images/about-brief-bg.png);
    background-size: cover;
}
.cards-netv{
    border-radius: 20px;
    overflow: hidden;
}
.cards-netv .details{
    background: linear-gradient(187.7deg, #019AF8 57.3%, #0056C9 107.32%);
    padding: 35px;
}
.cards-netv .img-cards{
    object-fit: contain;
    width: 243px;
}
.bandwidth-demand{
    background-image: url(../images/section_bandwith_demand.jpg);
    background-size: cover;
    height: 100vh;
}
.banner-top-blitz{
    height: 100vh;
    overflow: hidden;
}
.banner-top-blitz .banner{
   width: 100vw;
}
.banner-top-blitz .bg-banner{
    position: relative;
}
.banner-top-blitz .title-banner{
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 7%;
    transform: translateY(-50%);
}
.banner-top-blitz .title-banner .desc{
    width: 72%;
}
.benefit-colocation{
    background-image: url(../images/colocation_package_background_element.jpg);
    background-size: cover;
    background-position: top right;
}
.button-filter-news{
    border: 2px solid #0056C9;
    color: #0056C9;
    padding: 10px 20px;
    font-family: "ObjectSans Regular";
    border-radius: 10px;
}
.car-magazine .item{
    background-color: #0056C9;
    padding: 40px;
    border-radius: 25px;
}
.car-magazine .owl-next{
    background-color: #fff !important;
    border-radius: 100px !important;
    width: 40px;
    height: 40px;
    color: #0056C9 !important;
}
.car-magazine .owl-prev{
    background-color: #fff !important;
    border-radius: 100px !important;
    width: 40px;
    height: 40px;
    color: #0056C9 !important;
}
.car-magazine .owl-nav{
    position: absolute;
    top: -150px;
    right: 100px;
}
.car-magazine .owl-stage{
    left: -200px;
}
.reach_us{
    background-image: url(../images/support_us_reach_us.jpg);
    background-size: cover;
}
.wrapper_form{
    background-image: url(../images/reach_us_wrapper_form.png);
    background-size: cover;
    border-radius: 20px;
    font-family: "ObjectSans Regular";
}
.reachus_text{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
}
.wrapper_form .form-control::placeholder{
    color: #fff !important;
}
.address-section .nav .nav-item{
    border: 1px solid #007BFF;
    border-radius: 6px;
}
.address-section .nav .nav-item .nav-link{
    padding-left: 40px;
    padding-right: 40px;
}
/* Components */
/* Button and Links */
.button-white{
    background-color: #fff;
    border-radius: 10px;
    padding: 14px 46px;
}
.button-blue{
    background-color: #0056C9;
    border-radius: 10px;
    padding: 14px 46px;
    color: #fff;
}
.button-transparent{
    background-color: transparent;
    border-radius: 10px;
    padding: 14px 46px;
    color: #fff;
}
.button-blue:hover{
    color: #fff;
}
.button-send-netv{
    background-color: #0056C9;
    padding: 14px 46px;
    border: none;
    border-radius: 7px;
    color: #fff;
    text-align: right;
    font-family: "ObjectSans Regular";
}
.button-send-white{
    background-color: #fff;
    padding: 14px 46px;
    border: none;
    border-radius: 7px;
    color: #0056C9;
    text-align: right;
    font-family: "ObjectSans Regular";
}
.v-shadow{
    -webkit-box-shadow: 0px -5px 15px -10px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px -5px 15px -10px rgba(0,0,0,0.4);
    box-shadow: 0px -5px 15px -10px rgba(0,0,0,0.4);
}
.g-shadow{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.32);
}
.bg-linear-1{
    background: linear-gradient(187.7deg, #019AF8 57.3%, #0056C9 107.32%);
}
.bg-linear-2{
    background: linear-gradient(27.16deg, #0056C9 47.67%, #00A5FF 94.77%);
}
.bg-linear-3{
    background: linear-gradient(180deg, #00439D 0%, #0056C9 100%);
}
.bg-linear-4{
    background: linear-gradient(181.31deg, #00A5FF 2.68%, #052BFF 61.14%);
}
.hr-white{
    border-top: 1px solid #fff;
}
/* Forms */
.form-text{
    border-radius: 0;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #bbb;
    font-family: "Object Sans";
}
/* Social media */
.social-icons{
    list-style: none;
    padding-left: 0;
}
.social-icons li {
    display: inline-block;
  }
.social-icons a{
    width: 30px;
    height: 30px;
    line-height: 29px;
    margin-right: 0;
    border-radius: 100%;
    color: #fff;
    background-color: #00A5FF;
    display: inline-block;
    text-align: center;
}
/* Setup Another */
.vertical-50{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.vertical-40{
    position: absolute;
    transform: translateY(-50%);
    top: 40%;
}
/* Searchbar */

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 2px solid #0056C9;
    border-right-color: rgb(0, 86, 201);
    border-right-style: solid;
    border-right-width: 2px;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #0F59BD;
    font-family: "ObjectSans Regular";
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #0056C9;
    background: #0056C9;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  
/* Mobile */

@media screen and (max-width: 414px) {
    .banner-top-blitz.home .title-banner{
        top: 30%;
    }
    .mobile-coverage{
        background-image: url(../images/bg-mobile-coverage-area-home.jpg);
        background-size: cover;
        background-position: center;
    }
    .network.home .content{
        width: 85%;
        transform: translateY(-50%);
        left: 7%;
    }
    .home-isp.owl-theme .owl-dots .owl-dot.active span, .home-isp.owl-theme .owl-dots .owl-dot:hover span{
        background: #0056C9;
    }
    .home-isp.owl-theme .owl-nav.disabled + .owl-dots{
        margin-top: 50px;
    }
    .home-isp .content-bottom{
        left: 5%;
        bottom: 30px;
    }
    .home-isp .wrap{
        height: 60vh;
    }
    .home-isp .content {
        left: 7%;
        top: 60%;
    }
    .the-process{
        background-image: url(../images/bg-process-mobile.jpg);
    }
}
