*{
    transition: all .3s;
}
body{
    position: relative;
}
@font-face{
    font-family: "(ObjectSans Regular";
    src: url(ObjectSans-Regular.ttf) format("truetype");
}
@font-face{
    font-family: "NeueMachina Regular";
    src: url(NeueMachina-Regular.otf) format("truetype");
}
.font-objects{
    font-family: "NeueMachina Regular";
}
.font-neue{
    font-family: "Neu";
}
body{
    transition: all .3s;
}
.preloader {
    transition: all .3s;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url("../images/preloader.gif") center no-repeat #fbfbfb;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
.w-60{
    width: 60%;
}
/* Margins */
h1, h2, h3, h4, h5, h6, p, a {font-family: "ObjectSans Regular"; letter-spacing: 0.3px;}
p{
    line-height: 26px;
}
.text-gray{
    color: #666666;
}
/* Components */
/* Button and Links */

@media screen and (max-width: 414px) {
    p {
        font-size: 0.9rem;
        line-height: 1.6;
    }
}
